### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
playcount = purchase_data["SN"].nunique()

print ("Total players: "+ str(playcount))

Total players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#unique items calculator
uniquei = purchase_data["Item ID"].nunique()
# average price calculator
avgprice = purchase_data["Price"].mean()
#number purchases
purnum = purchase_data["Purchase ID"].count()
#total revenue
totalrev = purchase_data["Price"].sum()
puranalysis = [{
    'unique items' : uniquei,
    'average price' : avgprice,
    'number of purchases' : purnum,
    'total revenue' : totalrev,
}]
purchase_df = pd.DataFrame(puranalysis) 

purchase_df

   unique items  average price  number of purchases  total revenue
0           179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
genderdf = purchase_data["Gender"].value_counts()

gender_df = purchase_data[["Gender"]]

gender_m = gender_df.loc[purchase_data["Gender"] =="Male" ]
gender_f =gender_df.loc[purchase_data["Gender"] =="Female" ]
gender_o = gender_df.loc[purchase_data["Gender"] =="Other" ]



gendermcount = gender_m.count(axis =0)
genderfcount = gender_f.count(axis =0)
genderocount = gender_o.count(axis =0)
total = gender_df.count()

#calc
gm_calc = gendermcount/total * 100
gf_calc = genderfcount/total * 100
go_calc = genderocount/total * 100


print("The number of Male players is: " +  str(gendermcount) + " making up " + str(gm_calc) + "%")

#print(gender_f)
print("The number of Female players is: " +  str(genderfcount) + " making up " + str(gf_calc) + "%")
#print(gender_o)
print("The number of Other players is: " +  str(genderocount) + " making up " + str(go_calc) + "%")

The number of Male players is: Gender    652
dtype: int64 making up Gender    83.589744
dtype: float64%
The number of Female players is: Gender    113
dtype: int64 making up Gender    14.487179
dtype: float64%
The number of Other players is: Gender    0
dtype: int64 making up Gender    0.0
dtype: float64%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:

puranalysiscount = purchase_data.groupby("Gender")['Price'].count()
puranalysismean = purchase_data.groupby("Gender")['Price'].mean()
puranalysistot = purchase_data.groupby("Gender")['Price'].sum()




sumframe = {
    'Number of Purchases' :  puranalysiscount,
    'average price of purchase' : puranalysismean,
    'total amount of purchases' : puranalysistot,
}
sumframedf = pd.DataFrame(sumframe)
sumframedf

,Number of Purchases,average price of purchase,total amount of purchases
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

## Age Demographics

In [6]:
#bin names and labels
agebins = [0,9.9,13.9,18.9,23.9,28.9,33.9,38.9, 99]
binnames = ['<10', '10-14', '15-19','20-24', '25-29', '30-34','35-39','40+']
#bin dataframe

age_df = purchase_data
agedf = pd.DataFrame()
agedf["Number of players by Age"] = pd.cut(age_df["Age"], agebins, labels = binnames, include_lowest=True)

summage_df = agedf.groupby("Number of players by Age")
print (summage_df['Number of players by Age'].count())
#print (summage_df['Number of players by Age'].agg['count', 'value_counts' (normalize = True)])
       #.value_counts(normalize = True)

Number of players by Age
<10       23
10-14     26
15-19    115
20-24    321
25-29    155
30-34     77
35-39     44
40+       19
Name: Number of players by Age, dtype: int64

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
#groupby 'SN'
topspend = purchase_data.groupby("SN").agg('Item Id' : 'count' ['Price' : ['mean', 'sum']])
topspend

SyntaxError: invalid syntax (<ipython-input-15-d0c679e9be1a>, line 2)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
Popitem = purchase_data.groupby(["Item ID","Item Name"]).agg ('Item Id':'count'['Price' : ['Mean', 'Sum']])
Popitem

SyntaxError: invalid syntax (<ipython-input-8-35f239a2711b>, line 1)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80